 
PORT=5000
OPENAI_API_KEY=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






